<div class='row featurette'>
	<div class='col-md-6'>
		<img class='featurette-image img-responsive' src='<%= @project.project_pic %>'>
	</div>
	<div class='col-md-6'>
		<h2 class='featurette-heading'><%= @project.project_name %></h2>
		<h3><%= @project.project_location %></h3>
		<h3><%= @project.project_type %></h3>
		<h3>$<%= @project.project_amount %></h3>
		<p ><%= @project.project_description %></p>

	</div>
</div>

